@mixin div-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: aqua;
}

@mixin backgroudColor($color) {
    background-color: $color;
}
